.DS_Store
docs/.DS_Store
docs/superpowers/.DS_Store

# Miscellaneous
led_control/*.class
led_control/*.log
led_control/*.pyc
led_control/*.swp
led_control/.DS_Store
led_control/.atom/
led_control/.buildlog/
led_control/.history
led_control/.svn/
led_control/migrate_working_dir/

# IntelliJ related
led_control/*.iml
led_control/*.ipr
led_control/*.iws
led_control/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
led_control/**/doc/api/
led_control/**/ios/Flutter/.last_build_id
led_control/.dart_tool/
led_control/.flutter-plugins
led_control/.flutter-plugins-dependencies
led_control/.packages
led_control/.pub-cache/
led_control/.pub/
led_control/build/

# Superpowers generated artifacts
docs/superpowers/plans/
docs/superpowers/specs/
led_control/docs/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
led_control/android/app/debug
led_control/android/app/profile
led_control/android/app/release
led_control/android/*.hprof
